.DS_Store
node_modules/
public/
npm-debug.log
npm-debug.log.*
selenium-debug.log
test/unit/coverage
test/e2e/reports
cordova/platforms
cordova/plugins
thumbs.db
!.gitkeep
tmp/*
log/*.log
.byebug_history
TODO.txt
*swp
env/*
*psql
